<div class="d-flex flex-column flex-shrink-0 bg-light vh-100" style="width: 250px;position:absolute;">
    <ul class="nav nav-pills nav-flush flex-column mb-auto text-center">
        <li>
            <div class="nav-link py-3 active flex-column border-bottom justify-content-center">
                <div class="user-menu">
                    <mat-icon class="user-photo align-center">account_circle</mat-icon>
                    <h3>{{ this.currentUserName}}</h3>
                    <small> {{ this.curentUserType }}</small>
                </div>

            </div>
        </li>
        <li><a class="nav-link py-3 d-flex border-bottom cursor-pointer" (click)="this.homeOpen()">
                <div class="d-flex justify-content-around">
                    <mat-icon>home</mat-icon>
                    <h3 class="px-4">Home</h3>
                </div>
            </a>
        </li>
        <li><a class="nav-link py-3 d-flex border-bottom cursor-pointer" (click)="this.goodsOpen()">
                <div class="d-flex justify-content-around">
                    <mat-icon>supervised_user_circle</mat-icon>
                    <h3 class="px-4">Show Users</h3>
                </div>
            </a>
        </li>
        <li><a class="nav-link py-3 d-flex border-bottom cursor-pointer" (click)="this.contractOpen()">
                <div class="d-flex justify-content-around">
                    <mat-icon>settings</mat-icon>
                    <h3 class="px-4">Show Contracts</h3>
                </div>
            </a>
        </li>
        <li>
            <div class="nav-link py-3 d-flex border-bottom cursor-pointer" (click)="this.auth.logout()">
                <mat-icon>exit_to_app</mat-icon>
                <h3 class="px-4">Logout</h3>
            </div>
        </li>
    </ul>
</div>
<div *ngIf="this.home">
    <div class="admin">
        <h1>ADMINISTATION PAGE</h1>
        <h3>Welcome back, {{ this.currentUserName }} !</h3>
    </div>
    <img src="../../assets/admin-pic.png" class="admin-pic" />
</div>
<div class="make-center" *ngIf="this.addGoodTypeButton">
    <h1 class="elem-title">Show Users</h1>
        <div class="table-responsive justify-content-center">
            <table class="table" *ngIf="this.users.length>0">
                <thead class="thead-light btn-dark">
                    <tr>
                        <th scope="col">Email</th>
                        <th scope="col">User Type</th>
                        <th scope="col">First Name</th>
                        <th scope="col">Last Name</th>
                        <th scope="col">Telephone</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of this.users">
                        <td>{{ item[1] }}</td>
                        <td>{{ item[3] }}</td>
                        <td>{{ item[4] }}</td>
                        <td>{{ item[5] }}</td>
                        <td>{{ item[6] }}</td>

                    </tr>
                </tbody>
            </table>
        </div>
</div>

<div class="make-center" *ngIf="this.manageContractsButton">
    <h1 class="elem-title">Show Contracts</h1>
        <div class="table-responsive justify-content-center">
            <table class="table" *ngIf="this.contracts.length>0">
                <thead class="thead-light btn-dark">
                    <tr>
                        <th scope="col">Offer Id</th>
                        <th scope="col">Request Id</th>
                        <th scope="col">Details</th>
                        <th scope="col">Date Emitted</th>
                        <th scope="col">Price</th>
                        <th scope="col">Distance</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of this.contracts">
                        <td>#{{ item[0] }}</td>
                        <td>#{{ item[1] }}</td>
                        <td>{{ item[2] }}</td>
                        <td>{{ item[3] }}</td>
                        <td>{{ item[4] }}</td>
                        <td>{{ item[5] }}</td>

                    </tr>
                </tbody>
            </table>
    </div>
</div>