/* .table{
    position: absolute;
    left: 350px;
    border-right: 100px;
    top:20%;
} */
.make-center{
    top: 20%;
    left: 50%;
    margin: -25px 0 0 -25px; 
    position: absolute;
}

.elem-title{
    color: #1A76D2;
    padding: 20px;
    border: 7px solid #1A76D2;
}

.admin{
    top: 20%;
    left: 25%;
    margin: -25px 0 0 -25px; 
    position: absolute;
    color: #1A76D2;
    padding: 20px;
    width: 1000px;
    align-content: center;
    border: 7px solid #1A76D2;
}