<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="initial-scale=1,maximum-scale=1,user-scalable=no"/>
    <title>ArcGIS JS API 4.22 TypeScript Demo</title>
    <style>
      html,
      body,
      #viewDiv {
        position: absolute;
        right: 0px;
        height: 100%;
        width: 91%;
      }
    </style>
    <link rel="stylesheet" href="https://js.arcgis.com/4.22/@arcgis/core/assets/esri/themes/light/main.css">
  </head>
  <body>
    <div id="viewDiv"></div>
  </body>
</html>